/* General Styles */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container-detail{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Product Details Styles */

.product-details {
    display: flex;
    flex-direction: row;
}

.product-image {
    width: 40%;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-info {
    width: 60%;
}

.product-price {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 20px;
}

.product-options {
    margin-bottom: 20px;
}

.product-options label {
    display: block;
    margin-bottom: 5px;
}

.product-options select,
.product-options input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Product Reviews Styles */

.product-reviews {
    margin-top: 20px;
}

.product-reviews h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.review p {
    margin: 0;
}

.review strong {
    font-weight: bold;
}

.btn-secondary{
    background-color: grey;
    width: 10%;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}
.btn-back{
    padding-top: 10px;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
    }

    .product-image,
    .product-info {
        width: 100%;
        margin-bottom: 20px;
    }
}
